@charset "UTF-8";
.box, .instagram, .whatsapp {
  cursor: pointer;
  margin: 0 auto;
  width: 100px;
}

/* reseteo de margenes  */
* {
  margin: 0;
  padding: 0;
}

/* Estilo del HEADER */
class\=“navbar navbar-expand-lg bg-body-tertiary p-0” .container-fluid {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.navbar-nav {
  font-size: larger;
  font-weight: bold;
  font-family: "Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;";
}

.nav-link {
  color: #808080;
}

.nav-link:hover {
  color: orange;
}

.header-conteiner #logosuperior img {
  max-height: 100px;
}

.navbar-toggler-icon {
  color: gray;
}

.navbar-toggler {
  color: orange;
}

/* Estilo main */
main {
  padding: 20px;
  background-color: black;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-family: "Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif";
  color: grey;
}

#portada-conteiner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
}

.foto1 {
  width: 100%;
  height: auto;
}

.foto2 {
  width: 100%;
  height: auto;
}

.foto3 {
  width: 100%;
  height: auto;
}

.inferiorbody {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;
  height: auto;
}

main section p {
  text-align: center;
  font-weight: 500;
  font-size: x-large;
  font-family: "nunito";
  color: grey;
}

/* NOSOTROS */
#nosotros-conteiner {
  background-color: black;
}

.nosotros-titulo {
  color: orange;
}

.casa {
  width: 100%;
}

.historia {
  text-align: justify;
  font-weight: 500;
  font-size: x-large;
  padding: 20px;
  color: orange;
}

#instalaciones-conteiner {
  display: flex;
  flex-direction: column;
  background-color: black;
}

/* Estilo de Carousel */
.carousel {
  margin: 20px auto;
  max-width: 80%;
}

.carousel-inner img {
  max-height: 400px 200px;
  object-fit: cover;
}

/* Estilo de ubicacion */
#ubicacion-conteiner {
  display: flex;
  flex-direction: column;
  background-color: black;
}

.mapa {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.ubicacion p {
  text-align: center;
  color: #eab028;
}

.titulo-ubicacion {
  color: orange;
}

/* Estilo de Contacto */
.box, .instagram, .whatsapp {
  cursor: pointer;
  margin: 0 auto;
  width: 100px;
}

#contacto-conteiner {
  display: flex;
  flex-direction: column;
  background-color: black;
}

form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 2px solid #ccc;
  border-radius: 1em;
  background-color: orange;
}

@media only screen and (max-width: 400px) {
  form {
    width: 200px;
  }
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 5em;
}

.button {
  padding-left: 90px;
  margin-left: 0.5em;
  list-style: none;
}

.redes {
  margin: 5pc;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px;
}

.form {
  min-width: 300px;
}

/*@media (max-width:700ox) {
    #contacto-conteiner {
        flex-direction: column;

}}*/
/* PIE DE PAGINAA */
.footer-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px;
  background-color: orange;
}

footer #informacion {
  font-size: small;
}

footer #logo img {
  max-height: 100px;
}

/*# sourceMappingURL=styles.css.map */
