/* Estilo de Contacto */
@import "_extend";

#contacto-conteiner {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-bottom: 240px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 100px;

}

.whatsapp {
 @extend .box;
}

.instagram {
    @extend .box;
}

.email {
    @extend .box;
}

.whatsapp:hover { background-color: black;
color: orange}

.instagram:hover { background-color: black;
    color: orange
}

.email:hover { background-color: black;
    color: orange
}

