/* Contacto */
@import "_extend";

#contacto-conteiner {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-bottom: 240px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 100px;

}

.whatsapp {
 padding: 60px;
 background-color: map-get($paleta-colores, $key:color-fondo1);
 border: 4px black solid;
}


.instagram{
    padding: 60px;
    background-color: map-get($paleta-colores, $key:color-fondo1);
    border: 4px black solid;
}

.email {
    padding: 60px;
    background-color: map-get($paleta-colores, $key:color-fondo1);
    border: 4px black solid;
}

