#instalaciones-conteiner { 
    display:flex;
    flex-direction: column;
    background-color: map-get($map: $paleta-colores, $key:color-fondo2 );
}



/* Estilo de Carousel */

.carousel {
    margin: 20px auto;
    max-width: 80%;       
}
    
.carousel-inner {
 img {
    max-height: 400px 200px;
    object-fit: cover;}
}