/* PIE DE PAGINAA */

.footer-conteiner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
    background-color: map-get($map: $paleta-colores, $key:color-fondo1 );
}
    
footer {
    #informacion {
    font-size: small;}
}

    
footer {
    #logo{
       img {
    max-height: 100px
}
}
}