/* Estilo main */

main {
    padding: 20px;
    background-color: map-get($map: $paleta-colores, $key:color-fondo2 );}

     
h1 { 
    text-align: center;
    font-weight: 800;
    font-family: map-get($map: $fuente, $key:titulo);
    color: map-get($map: $paleta-colores, $key:color-texto3);
    padding-top: 10px;
}



#portada-conteiner {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: auto auto;
gap: 20px;
}



.foto1 {width: 100%;
height: auto;}
.foto2 {width: 100%;
height: auto;}
.foto3 {width: 100%;
height: auto;}

.inferiorbody {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    width: 100%;
    height: auto;
    

}


main {
    section p {
    text-align: center;
    font-weight: 500;
    padding-top: 20px;
    font-size: $fuente-subtitulo;
    font-family: map-get($map: $fuente, $key:parrafo);
    color:map-get($map: $paleta-colores, $key:color-texto3 )
    
 }
}

@media (max-width: 600px) {
    .inferiorbody {
        grid-template-columns: 1fr;
        gap: 10px;}}